.viewport {
  height: 300px;
  width: 50%;
}

.item {
  height: 50px;
}

.animate__animated .animate__fadeInRight {
  height: 50px;
}

.scroll-card {
  padding-top: 2%;
  padding-left: 35%;
  height: 400px;
  background-color: navajowhite;
}

mat-card{
  background-color: darkgreen;
  color: white;
}
