.viewport {
  height: 50vh;
  width: 50%;
}

.item {
  height: 50px;
}

.animate__animated .animate__fadeInRight {
  height: 50px;
}

.scroll-card {
  padding-left: 35%;
  background-color: navajowhite;
  height: 100vh;
}

mat-card{
  background-color: darkgreen;
  color: white;
}
